
  <div  id="conprueba" class="container-fluid col-xl-10 col-xxl-8 px-4 py-5 " style="margin-top: 110px;">
    <div class="row align-items-center g-lg-1 py-2">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Vertically centered hero sign-up form</h1>
        <p class="col-lg-10 fs-4">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      </div>
      <div  id="formulario" class="col-md-10 mx-auto col-lg-5 al">
        <img title="m" src="https://eduv.tecazuay.edu.ec/pluginfile.php/1/theme_academi/logo/1657830776/logoista.png" width="200px" height="150px" >
        <form class="p-4 p-md-5 ">
          <div class="inputGroup">
            <label for="email">Numero De cedula</label>
             <input 
             type="email"
            placeholder="Numero de Cedula" 
            id="email"/>
        </div>

        <div class="inputGroup">
          <label for="password">Contraseña</label>
          <input
          type="email"
          placeholder="Contraseña"
          id="password"
          />
          </div>
          <button class="submitForm">Log In</button>
          <hr class="my-2">
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
    
        </form>
      </div>
    </div>
  </div>


