
<div>
    <main id="principal">
    
      <div   id="contenedorp" class="container-fluid my-2" >
        <div  id="bienvenida" class="row p-4 pb-4 pe-lg-0  rounded-3 border shadow-lg">
          <div  style="height:600px ;" class="col-lg-5 p-3 p-lg-5 pt-lg-7">
            <h1   style="text-align:center ;padding-top: 130px;" class="display-4 fw-bold lh-1">Practicas Preprofesionales</h1>
            <p  style="text-align:justify; " class="lead">Ser una institución de calidad, solidaria, inclusiva, intercultural y diversa, reconocida por su excelencia académica y sus aportes a la sociedad en el área de la investigación, innovación tecnológica y vinculación con la colectividad, promoviendo el desarrollo integral de la persona y el entorno, en busca de una sociedad justa y equitativa.</p>
            <div  id="cajabtns" class="d-grid gap-1 d-md-flex  ">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Iniciar Sesion</button>
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Registrarse</button>
            </div>
          </div>
          <div  class="col-lg-1 offset-lg-1  align-items-top " style="padding-top: 100px;">
              <img    class="rounded-lg-3" src="https://eduv.tecazuay.edu.ec/pluginfile.php/1/theme_academi/logo/1657830776/logoista.png" alt="" height="350" width="350">
          </div>
        </div>
      </div>
      <hr>
    </main>
    
    </div>
    <div  id="logincontainer" ></div>
    
        <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    
          
    
    
    
    